.App{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 400px;
  margin: 100px 0px;
  border-radius: 20px;
  box-shadow: 0px 6px 8px 3px rgba(13, 186, 239,0.2),0px 6px 8px 3px rgba(13, 186, 239,0.19);
}
.header {
  text-align: center;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(13, 186, 239);
  color: white;
  box-shadow: 0px 6px 8px 3px rgba(0,0,0,0.2),0px 6px 8px 3px rgba(0,0,0,0.19);
}
.casio {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.left {
  width:25%;
  margin: 0px 10px;
  padding: 10px;
  background-color: rgb(13, 186, 239);
  color: white;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 6px 8px 3px rgba(0,0,0,0.2),0px 6px 8px 3px rgba(0,0,0,0.19);
}
.right{
  width: 20%;
  padding: 10px;
  margin: 0px 10px;
  background-color: rgb(13, 186, 239);
  color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 6px 8px 3px rgba(0,0,0,0.2),0px 6px 8px 3px rgba(0,0,0,0.19);
}

#container{
  width: 80%;
  height: 40px;
  padding:10px;
  margin: 0px 10px;
  box-shadow: 0px 6px 8px 3px rgba(0,0,0,0.2),0px 6px 8px 3px rgba(0,0,0,0.19);
  border-radius: 10px;
  font-size: 25px;
  text-align: right;
  overflow-x:hidden;
}

button:active {
  box-shadow: none;
}